.card {
  max-width: 413px;
}
.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.card__description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 12px 0 0;
  color: rgb(33, 33, 33);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 330px;
}

.card__like-button {
  background-image: url(../images/Like\ Icon.svg);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  color: rgba(33, 33, 33, 1);
  margin-top: 12px;
  opacity: 40%;
  padding: 0;
  height: 20px;
  width: 23px;
}

.card__like-button:hover {
  background-image: url(../images/State=Hover.svg);
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__content {
    width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__description {
    font-size: 16px;
    line-height: 16px;
  }
}
