.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  grid-gap: 40px 20px;
  justify-content: center;
  max-width: 1280px;
  margin: auto;
  padding: 20px 0 34px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

@media screen and (max-width: 627px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
