.header {
  background-color: #ffff;
  display: flex;
  justify-content: center;
  width: 1444px;
  height: 46px;
}

.header__logo {
  width: 94px;
  height: 26px;
  padding: 10px 0;
}

@media screen and (max-width: 927px) {
  .header {
    padding: 0;
    width: 940px;
  }
}

@media screen and (max-width: 627px) {
  .header {
    padding: 0;
    width: 320px;
    height: 46px;
  }
}
