.header {
  background-color: #ffff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 94px;
  height: 26px;
  padding: 10px 0;
}

@media screen and (max-width: 627px) {
  padding-top: 20px;
}
