.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}
.modal__container {
  background-color: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  max-width: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 8px;
}

.modal__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
  margin: 0 0 32px;
  padding: 0;
}

.modal__label {
  display: flex;
  flex-direction: column;
  color: rgba(33, 33, 33, 0.7);
  margin-bottom: 32px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.modal__input {
  margin-top: 8px;
  padding: 16px 12px;
  width: 630px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  cursor: pointer;
}

.modal__submit-btn {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  border-radius: 8px;
  padding: 18px 32px;
  width: 156px;
  cursor: pointer;
}

.modal__close-btn {
  background-image: url(../images/close-icon.svg);
  background-color: white;
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  opacity: 40%;
  cursor: pointer;
  padding: 0;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__input:hover {
  border: 1px solid rgba(33, 33, 33, 1);
}

input::placeholder {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: rgba(33, 33, 33, 1);
}

@media screen and (max-width: 700px) {
  .modal {
    padding: 0 10px;
    margin: 0;
  }

  .modal__container {
    max-width: 300px;
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__input {
    max-width: 250px;
    font-size: 16px;
    margin-top: 8px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    margin-top: 4px;
  }
}
