.page {
  background-color: rgba(252, 245, 229, 1);
  max-width: 1440px;
  min-height: 100vh;
  font-family: "Poppins" Arial, Helvetica, sans-serif;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 627px) {
  .page {
    min-width: 320px;
  }
  .page__section {
    padding: 0;
  }
}
