.page {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: rgba(252, 245, 229, 1);
  min-height: 100vh;
  margin: 0 auto;
}
.page__section {
  margin: 0 auto;
}

@media screen and (max-width: 627px) {
  .page {
    min-width: 320px;
  }
  .page__section {
    padding: 0;
  }
}
