.photo__card {
  margin: 0;
  padding: 0;
}

.photo__card-image {
  width: 413px;
  height: 413px;
  border-radius: 7px;
}

.photo__info {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.photo__description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  margin: 12px 0 0;
  color: rgb(33, 33, 33);
}

.like__button {
  background-image: url(../images/Like\ Icon.svg);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  margin-top: 12px;
  padding: 0;
  height: 20px;
  width: 23px;
}
