.card {
  max-width: 413px;
  position: relative;
}
.card__image {
  width: 413px;
  height: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.card__description {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin: 12px 0 0;
  color: rgb(33, 33, 33);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 330px;
}

.card__like-button {
  background: transparent url(../images/likebtn.svg) center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  opacity: 0.4;
  padding: 0;
  height: 20px;
  width: 23px;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_liked {
  background-image: url(../images/liked-btn.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  opacity: 50%;
}

.card__delete-button {
  background: transparent url(../images/Delete-Default.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.card__delete-button:hover {
  background-image: url(../images/Delete-Hover.svg);
}

@media screen and (max-width: 700px) {
  .card__content {
    width: 288px;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }

  .card__description {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  .card__like-button {
    flex-shrink: 0;
  }
  .card__delete-button {
    z-index: -1;
  }
}
